.title {
    font-weight: 600;
}

.subtitle {
    font-weight: 500;
}

.gradicon {
    background-image: linear-gradient(270deg, var(--swizzle-primary), var(--swizzle-secondary));
    padding: 6px;

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    background-clip: text;
    -moz-text-fill-color: transparent;
}

.indexicon {
    font-size: 140px;
    padding: 24px;
}

.centeredcol {
    text-align: center;
    padding-top: 120px;
}

#sidebar {
    position: absolute; 
    left: 0px;
    top: 0px;
    height: calc(100% - 65px);
    width: 250px;
    border-right: 1px solid var(--contrast-tertiary);
}

#content {
    position: absolute;
    width: calc(100% - 250px);
    left: 250px;
    padding: 48px;
    border: 1px solid purple;
    overflow-y: scroll;
    height: calc(100% - 65px);
}

#playing {
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100%;
    background-color: var(--bg-secondary);
    height: 65px;
    z-index: 696969;
}

.sidebarlogo {
    width: 54px;
    display: inline-block;
}

.sidebarlogotext {
    display: inline-block;
    font-weight: 600;
}

.sidebarpadding {
    padding: 48px 24px 0px 24px;
}

.tabsnav {
    width: 100%;
}

.tabsnav a{
    width: 100%;
    padding-left: 64px;
    position: relative;

    color: var(--contrast-secondary);
    font-size: 16px;
    text-decoration: none !important;
    transition: all 0.5s;
}

.nav-item {
    padding-top: 12px;
    padding-bottom: 12px;
    margin: 0px;

    transition: all 0.2s;
    width: 100%;
    cursor: pointer;
}

.nav-item:hover {
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: rgb(0, 0, 0, 0.1);

    transition: all 0.2s;
}

.tabsnav a:hover{
    text-decoration: none !important;
    color: var(--contrast-secondary);
}

.nav-item i {
    padding-right: 8px;
}

.tabactive::before{
    content: '';
    position: absolute;
    height: 100%;
    left: 0px;
    width: 2px;
    background-color: var(--swizzle-primary);
}

.tabactive {
    color: var(--swizzle-primary) !important;
    transition: all 0.5s;
}

.tabactive:hover {
    color: var(--swizzle-primary) !important;
}

.title-tab {
    font-size: 56px;
    font-weight: 600;
}

.userpfp {
    width: 42px;
    height: 42px;
    object-fit: cover;
    border-radius: 50%;
    display: inline-block;
}

#username1 {
    display: inline-block;
    padding-left: 56px;
}

#unconfirmed {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0px;
    left: 0px;
    z-index: 200;
    backdrop-filter: blur(8px);
}

.centered {
    text-align: center;
}

.andelay1 {
    animation-delay: 0.5s;
}
.andelay2 {
    animation-delay: 1.0s;
}
.andelay3 {
    animation-delay: 1.5s;
}
.andelay4 {
    animation-delay: 2.0s;
}

.navbar .form-control {
    border-radius: 12px;
}

#searchsheet {
    position: fixed;
    background-color: var(--bg-tertiary);
    width: calc(100% - 250px);
    height: 100%;
    top: 0px;
    right: 0px;
    z-index: 5 !important;
    overflow-y: scroll;
}

.iconbtn {
    min-width: 0px !important;
    padding: 4px !important;
    background-color: var(--bg-secondary) !important;
    box-shadow: 2px 2px 5px 1px rgba(0,0,0,0.50) !important;
    transition: all 1s !important;
    z-index: 2 !important;
}

.iconbtn:hover {
    background-color: var(--bg-secondary) !important;
    box-shadow: 2px 2px 20px 1px rgba(0,0,0,0.40) !important;
    transition: all 1s !important;
}

.navbarsearch {
    padding: 48px;
}

.navbarsearch .navbar-nav .title-tab{
    margin-bottom: 0px;
}   

#searchResults {
    display: grid;
    grid-template-columns: auto;
    padding: 24px; 
    text-align: center;
    gap: 8px;
}

.searchResultDiv {
    margin: 6px;
    width: 95%;
    min-height: 120px;
    background-color: var(--bg-primary);
    position: relative;
}

.thumbnail {
    width: 160px;
    height: 160px;
    object-fit: cover;
    margin-top: -20px;
}

.imgcontainer {
    max-width: 120px;
    max-height: 120px;
    overflow: hidden;
    position: relative;
    vertical-align: middle;
    border-radius: 12px;
    margin: 0px;
    display: inline-block;
}

.cardcontent {
    margin-left: 12px;
    display: inline-block;
    position: relative;
    width: calc(100% - 132px);
}

.cardtitle {
    width: 100%;
}

.navv {
    padding: 0px !important;
}